certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
googlemaps==3.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pkg-resources==0.0.0
-e git+https://github.com/efficientoranges/places.git@f315f0e47bacc0260a7d1263b09ca33496d1fab4#egg=places
requests==2.20.1
urllib3==1.24.1
Werkzeug==0.14.1
