{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="email">Email</label>
        <input name="email" id="email" value="{{ session.email }}" required autofocus>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="toggle-password">Show password</label>
        <input type="checkbox" id="toggle-password">
        <button type="submit">Log In</button>
    </form>
    <a href="{{ url_for('auth.reset_password') }}">Forgot your password?</a>
    <script src="{{ url_for('static', filename='auth.js') }}"></script>
{% endblock %}
