{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New Password{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('auth.new_password') }}">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        <span class="label">User:</span>
        <span class="text">{{session.email }}</span>
        <label for="password">New Password</label>
        <input type="password" name="password" id="password" required autofocus>
        <label for="toggle-password">Show password</label>
        <input type="checkbox" id="toggle-password">
        <button type="submit">New Password</button>
    </form>
    <script src="{{ url_for('static', filename='auth.js') }}"></script>
{% endblock %}
